<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="fileSystemSettings" 
               type="M4_Console_UI.Configuration.FileSystemSettings, M4 Console UI"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <fileSystemSettings>
      <cultureInfo name="en-US"/>
      <foldersForListening>
        <folder path="e:\other\folder1"/>
        <folder path="e:\other\folder2"/>
      </foldersForListening>
      <rules>
        <rule filter="^[0-9]{1}\w*$" path="e:\other\first" addSerial="true" addDateTime="false"/>
        <rule filter="^[\w]{5}$" path="e:\other\second" addSerial="false" addDateTime="true"/>
        <rule filter=".*" path="e:\other\default" addSerial="true" addDateTime="true"/>
      </rules>
    </fileSystemSettings>
</configuration>